<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.stbl.token.innerdisc.modules.basic.dao.TestPasswordMapper" >
  <resultMap id="BaseResultMap" type="cc.stbl.token.innerdisc.modules.basic.entity.TestPassword" >
    <id column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
  </resultMap>
 
 
  <insert id="insertSelective" parameterType="cc.stbl.token.innerdisc.modules.basic.entity.ActivateFlow" >
    insert into test_password(phone_num) values( #{phoneNum,jdbcType=VARCHAR})
  </insert>
 
  </mapper>