<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.stbl.token.innerdisc.modules.basic.dao.VrUserDeviceMapper" >
  <resultMap id="BaseResultMap" type="cc.stbl.token.innerdisc.modules.basic.entity.VrUserDevice" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="bind_time" property="bindTime" jdbcType="TIMESTAMP" />
    <result column="bind_state" property="bindState" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, user_id, bind_time, bind_state, state, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vr_user_device
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from vr_user_device
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="cc.stbl.token.innerdisc.modules.basic.entity.VrUserDevice" >
    insert into vr_user_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="bindTime != null" >
        bind_time,
      </if>
      <if test="bindState != null" >
        bind_state,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null" >
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindState != null" >
        #{bindState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.stbl.token.innerdisc.modules.basic.entity.VrUserDevice" >
    update vr_user_device
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null" >
        bind_time = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bindState != null" >
        bind_state = #{bindState,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findList" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM vr_user_device
    <include refid="findWhere" />
  </select>
  <select id="findCount" resultType="java.lang.Long" >
    SELECT COUNT(*) 
    FROM vr_user_device
    <include refid="findWhere" />
  </select>
  <sql id="findWhere" >
    <where >
      <if test="code != null  and code != ''" >
        AND code = #{code}
      </if>
      <if test="name != null  and name != ''" >
        AND name = #{name}
      </if>
      <if test="userId != null  and userId != ''" >
        AND user_id = #{userId}
      </if>
      <if test="bindTime != null " >
        AND bind_time = #{bindTime}
      </if>
      <if test="bindState != null " >
        AND bind_state = #{bindState}
      </if>
      <if test="state != null " >
        AND state = #{state}
      </if>
      <if test="createDate != null " >
        AND create_date = #{createDate}
      </if>
    </where>
  </sql>
  <delete id="deleteByIds" parameterType="java.lang.reflect.Array" >
    DELETE FROM vr_user_device
    <foreach collection="array" item="item" separator="," open="where id in (" close=")" >
      #{item}
    </foreach>
  </delete>
  <select id="findByIds" parameterType="java.lang.reflect.Array" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM vr_user_device
    <foreach collection="array" item="item" separator="," open="where id in (" close=")" >
      #{item}
    </foreach>
  </select>
  <insert id="batchInsertSelective" parameterType="java.util.List" >
    <foreach collection="list" item="item" separator=";" close=";" >
      insert into vr_user_device
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="item.id != null " >
          id,
        </if>
        <if test="item.code != null " >
          code,
        </if>
        <if test="item.name != null " >
          name,
        </if>
        <if test="item.userId != null " >
          user_id,
        </if>
        <if test="item.bindTime != null " >
          bind_time,
        </if>
        <if test="item.bindState != null " >
          bind_state,
        </if>
        <if test="item.state != null " >
          state,
        </if>
        <if test="item.createDate != null " >
          create_date,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="item.id != null " >
          #{item.id},
        </if>
        <if test="item.code != null " >
          #{item.code},
        </if>
        <if test="item.name != null " >
          #{item.name},
        </if>
        <if test="item.userId != null " >
          #{item.userId},
        </if>
        <if test="item.bindTime != null " >
          #{item.bindTime},
        </if>
        <if test="item.bindState != null " >
          #{item.bindState},
        </if>
        <if test="item.state != null " >
          #{item.state},
        </if>
        <if test="item.createDate != null " >
          #{item.createDate},
        </if>
      </trim>
    </foreach>
  </insert>


  <!-- *************************************************** -->

  <!-- 获取用户设备列表 -->
  <select id="getByUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM vr_user_device
    WHERE
    user_id = #{userId}
    and state = 1
    order by create_date desc
  </select>

  <!-- 删除设备（软删） -->
  <update id="delDevice">
    UPDATE
      vr_user_device
      SET
        state = 0
    WHERE
    id = #{deviceId}
  </update>

</mapper>