<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.stbl.token.innerdisc.modules.eth.dao.EthAssetFlowMapper" >
  <resultMap id="BaseResultMap" type="cc.stbl.token.innerdisc.modules.eth.entity.EthAssetFlow" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="remain_amount" property="remainAmount" jdbcType="DECIMAL" />
    <result column="trade_type" property="tradeType" jdbcType="INTEGER" />
    <result column="business_type" property="businessType" jdbcType="INTEGER" />
    <result column="is_plus" property="isPlus" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="transaction_hash" property="transactionHash" jdbcType="VARCHAR" />
    <result column="at_block_number" property="atBlockNumber" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, trade_no, user_id, trade_amount, remain_amount, trade_type, business_type, is_plus, 
    create_time, transaction_hash, at_block_number, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from eth_asset_flow
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from eth_asset_flow
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="cc.stbl.token.innerdisc.modules.eth.entity.EthAssetFlow" >
    insert into eth_asset_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="remainAmount != null" >
        remain_amount,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="isPlus != null" >
        is_plus,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="transactionHash != null" >
        transaction_hash,
      </if>
      <if test="atBlockNumber != null" >
        at_block_number,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="remainAmount != null" >
        #{remainAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=INTEGER},
      </if>
      <if test="isPlus != null" >
        #{isPlus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionHash != null" >
        #{transactionHash,jdbcType=VARCHAR},
      </if>
      <if test="atBlockNumber != null" >
        #{atBlockNumber,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.stbl.token.innerdisc.modules.eth.entity.EthAssetFlow" >
    update eth_asset_flow
    <set >
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmount != null" >
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="remainAmount != null" >
        remain_amount = #{remainAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=INTEGER},
      </if>
      <if test="isPlus != null" >
        is_plus = #{isPlus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionHash != null" >
        transaction_hash = #{transactionHash,jdbcType=VARCHAR},
      </if>
      <if test="atBlockNumber != null" >
        at_block_number = #{atBlockNumber,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findList" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM eth_asset_flow
    <include refid="findWhere" />
    order by create_time desc
  </select>
  <select id="findCount" resultType="java.lang.Long" >
    SELECT COUNT(*) 
    FROM eth_asset_flow
    <include refid="findWhere" />
  </select>

  <select id="findSumTradeAmount" resultType="java.lang.Long" >
    SELECT SUM(trade_amount)
    FROM eth_asset_flow
    <include refid="findWhere" />
  </select>

  <sql id="findWhere" >
    <where >
      <if test="tradeNo != null  and tradeNo != ''" >
        AND trade_no = #{tradeNo}
      </if>
      <if test="userId != null  and userId != ''" >
        AND user_id = #{userId}
      </if>
      <if test="tradeAmount != null " >
        AND trade_amount = #{tradeAmount}
      </if>
      <if test="remainAmount != null " >
        AND remain_amount = #{remainAmount}
      </if>
      <if test="tradeType != null " >
        AND trade_type = #{tradeType}
      </if>
      <if test="businessType != null " >
        AND business_type = #{businessType}
      </if>
      <if test="isPlus != null " >
        AND is_plus = #{isPlus}
      </if>
      <if test="createTime != null " >
        AND create_time = #{createTime}
      </if>
      <if test="createDateByDay != null " >
        AND DATE_FORMAT(create_time,'%Y-%m-%d') = DATE_FORMAT(#{createDateByDay},'%Y-%m-%d')
      </if>
      <if test="startTradeDate != null " >
        AND create_time >= DATE_FORMAT(#{startTradeDate},'%Y-%m-%d')
      </if>
      <if test="entTradeDate != null " >
      <![CDATA[
        AND create_time <= DATE_FORMAT(#{entTradeDate},'%Y-%m-%d')
      ]]>
      </if>
      <if test="transactionHash != null  and transactionHash != ''" >
        AND transaction_hash = #{transactionHash}
      </if>
      <if test="atBlockNumber != null " >
        AND at_block_number = #{atBlockNumber}
      </if>
    </where>
  </sql>
  <delete id="deleteByIds" parameterType="java.lang.reflect.Array" >
    DELETE FROM eth_asset_flow
    <foreach collection="array" item="item" separator="," open="where id in (" close=")" >
      #{item}
    </foreach>
  </delete>
  <select id="findByIds" parameterType="java.lang.reflect.Array" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM eth_asset_flow
    <foreach collection="array" item="item" separator="," open="where id in (" close=")" >
      #{item}
    </foreach>
  </select>
  <insert id="batchInsertSelective" parameterType="java.util.List" >
    <foreach collection="list" item="item" separator=";" close=";" >
      insert into eth_asset_flow
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="item.id != null " >
          id,
        </if>
        <if test="item.tradeNo != null " >
          trade_no,
        </if>
        <if test="item.userId != null " >
          user_id,
        </if>
        <if test="item.tradeAmount != null " >
          trade_amount,
        </if>
        <if test="item.remainAmount != null " >
          remain_amount,
        </if>
        <if test="item.tradeType != null " >
          trade_type,
        </if>
        <if test="item.businessType != null " >
          business_type,
        </if>
        <if test="item.isPlus != null " >
          is_plus,
        </if>
        <if test="item.createTime != null " >
          create_time,
        </if>
        <if test="item.transactionHash != null " >
          transaction_hash,
        </if>
        <if test="item.atBlockNumber != null " >
          at_block_number,
        </if>
        <if test="item.remark != null " >
          remark,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="item.id != null " >
          #{item.id},
        </if>
        <if test="item.tradeNo != null " >
          #{item.tradeNo},
        </if>
        <if test="item.userId != null " >
          #{item.userId},
        </if>
        <if test="item.tradeAmount != null " >
          #{item.tradeAmount},
        </if>
        <if test="item.remainAmount != null " >
          #{item.remainAmount},
        </if>
        <if test="item.tradeType != null " >
          #{item.tradeType},
        </if>
        <if test="item.businessType != null " >
          #{item.businessType},
        </if>
        <if test="item.isPlus != null " >
          #{item.isPlus},
        </if>
        <if test="item.createTime != null " >
          #{item.createTime},
        </if>
        <if test="item.transactionHash != null " >
          #{item.transactionHash},
        </if>
        <if test="item.atBlockNumber != null " >
          #{item.atBlockNumber},
        </if>
        <if test="item.remark != null " >
          #{item.remark},
        </if>
      </trim>
    </foreach>
  </insert>

  <select id="getUserDailyIncomeList" resultMap="BaseResultMap" parameterType="java.lang.String">
    select user_id, sum(trade_amount) trade_amount, is_plus, date_format(create_time,'%Y-%m-%d') create_time from eth_asset_flow
    where is_plus = '1'
    and date_format(create_time,'%Y-%m-%d') = #{stringDate}
    group by user_id
  </select>
</mapper>